.navbar {
    padding-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo {
    width: 50px;
    height: auto;
    padding-right: 10px;
    padding-right: 10px;
}
.gitlogo{
    padding-right: 50px;
}